<!-- Universal Template for all blog posts. Please copy this file and rename it to your liking.

Making a blog post -
Step 1: Add content. (Copypaste this file and fill in the contents) 
        You don't have to edit anything outside of the marked content section.

Step 2: Add link on blog portal. (Edit index.html) 
Step 3: Add an image. (optional) If you do not add an image, then the default image is the 2tbs logo.
-->
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>2TBS Blog</title>
    <meta name="description" content="2TBS Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="../img/icon-2tbs.png">
    <link rel="icon" href="../img/icon-2tbs.png">

    <link rel="stylesheet" href="../../../css/normalize.css">
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../2tbs.css">
    <link rel="stylesheet" href="../blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css" />
</head>

<header id="header"></header>

<body>

    <div class="container">
        
        <!-- Content Here! -->
        <br><br>
        <h2 class="center-align">Title</h2>
        <hr>
        
        <h5>Subsection Heading</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula lacus et libero tincidunt bibendum. Nullam luctus
            quis odio eget dignissim. Phasellus eu leo eu lectus hendrerit pulvinar in non erat. Proin a laoreet massa. Maecenas
            risus felis, ultrices malesuada augue non, vulputate fringilla lacus. Vestibulum rhoncus consequat felis, quis mollis
            urna scelerisque et. Phasellus dapibus augue eu orci maximus, lacinia rhoncus ipsum fermentum. Donec a nibh at diam molestie
            sodales. Nulla facilisi. Cras et egestas odio. Phasellus risus orci, ornare in vulputate ut, convallis vitae leo. Cras
            interdum, arcu vitae vestibulum sollicitudin, sem turpis iaculis nibh, at volutpat turpis leo ut arcu. Sed imperdiet
            pellentesque metus, sit amet vestibulum massa dapibus non. Vestibulum in velit massa. Suspendisse potenti.
        </p>
        
        <img src="../img/icon-2tbs.png">

        <br>
        
        <h5>Subsection Heading</h5>
        <p>
            Curabitur dictum neque sit amet lorem tincidunt aliquet. Mauris sodales dignissim tortor sit amet aliquam. Nulla facilisi.
            Nunc laoreet consectetur libero, ut interdum arcu cursus quis. In dignissim tincidunt diam venenatis volutpat. Nunc enim
            arcu, volutpat elementum interdum sit amet, placerat sed ligula. Etiam laoreet magna congue, elementum libero eu, porttitor
            ex. Suspendisse vel gravida dui. Nunc at bibendum erat. Donec diam dolor, imperdiet a semper quis, laoreet non libero.
            Maecenas eu ex placerat, vulputate urna eu, sollicitudin est. Etiam sit amet aliquet tortor. Maecenas pretium, ipsum
            vel gravida pharetra, ligula nunc convallis metus, in euismod sapien purus at turpis. Curabitur euismod a est nec iaculis.
            Maecenas fermentum aliquam felis, ut suscipit arcu laoreet sit amet. Vestibulum eu mi in enim finibus aliquet. In lectus
            massa, molestie vitae erat quis, facilisis varius erat.
        </p>

        <br><hr><br>

        <h5>Written by Lorem Ipsum</h5>
        <p>8 December 2018</p>

        <br><br>
    </div>
   

    <!-- Add 'class="lesscontent" if there is extra whitespace at the bottom of the footer.' -->
    <footer id="footer"></footer>

    <!-- Scripts -->
    <script src="../../../js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="../../../js/plugins.js"></script>
    <script src="../blog.js"></script>
    <script src="../../../js/scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>


</html>